
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.form-control.date {
  width: 360px;
}

.button-wrap
{
  text-align: center;
}

.button-wrap > a
{
  position: absolute;
  top: 86%;
  right:10%;
}
